<div class="col-md-4 offset-md-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Autentication</h5>
            <h6 class="card-subtitle mb-2 text-muted">Company Name</h6>        
            <br>
            <div class="mb-3">
              <label class="form-label">Username or Email address</label>
              <input type="email" [(ngModel)]="loginForm.username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" [(ngModel)]="loginForm.password" class="form-control" id="exampleInputPassword1" required="">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Remember me</label>
            </div>
            <div *ngIf="formResponse.error.length>0" class="alert alert-warning" role="alert">
              {{ formResponse.error }}
            </div>
            <div class="text-end">
                <button type="submit" class="btn btn-primary" (click)="login()">Login</button>
            </div>
        </div>
    </div>
</div>
