<div class="row">
    <div class="col-md-4 offset-md-1">
        <!-- Search and filters -->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Categories</h5>
                <h6 class="card-subtitle mb-2 text-muted">Add new category</h6>        
                <br>
                <div class="mb-3">
                  <label class="form-label">Category name</label>
                  <input type="email" [(ngModel)]="newCategory.name" class="form-control" aria-describedby="textHelp">
                </div>
                <div class="text-end">
                    <button type="submit" (click)="addCategory()" class="btn btn-success">Add category</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let category of categories">
                <th scope="row">{{ category.id }}</th>
                <td>{{ category.name }}</td>
                <td>
                    <!-- buttons here -->
                </td>
              </tr>
            </tbody>
        </table>
    </div>
</div>
