
<div class="row">
  <div class="col-md-5 offset-md-1">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Users</h5>
            <h6 *ngIf="user.id==0" class="card-subtitle mb-2 text-muted">Add new User</h6>   
            <h6 *ngIf="user.id>0" class="card-subtitle mb-2 text-muted">Update User</h6>       
            <br>
            <div class="mb-3">
              <label class="form-label">Username</label>
              <input type="text" [(ngModel)]="user.username" class="form-control" id="exampleInputEmail1" aria-describedby="usernamelHelp">
              <div id="usernamelHelp" class="form-text text-secondary">Will be used for application access.</div>
            </div>
            <div class="mb-3">
              <label class="form-label">Full Name</label>
              <input type="text" [(ngModel)]="user.fullname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label class="form-label">Email address</label>
              <input type="email" [(ngModel)]="user.email" class="form-control" id="exampleInputEmail1">
            </div>
            <div *ngIf="user.id==0" class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" [(ngModel)]="user.password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label class="form-label">Role</label>
                <select class="form-select" [(ngModel)]="user.role" aria-label="Default select example">
                    <option value="admin">Admin</option>
                    <option value="agent">Technician</option>
                    <option value="user">User</option>
                </select>
            </div>
            <div class="mb-3">
              <label class="form-label">Phone</label>
              <input class="form-control" [(ngModel)]="user.phone">
            </div>
            <div *ngIf="formResponse.message.length>0" class="alert alert-success" role="alert">
              {{ formResponse.message }}
            </div>
            <div *ngIf="formResponse.error.length>0" class="alert alert-warning" role="alert">
              {{ formResponse.error }}
            </div>
            <div class="text-end">
                <button type="submit" (click)="save()" class="btn btn-success">Save</button>
            </div>
        </div>
    </div>
</div>
</div>

