/* You can add global styles to this file, and also import other style files */

.btn-trash {
    margin: 2px;
}

.nav-logo {
    margin-left: 7pt;
    margin-right: 10%;
    height: 25pt;
    width: 70pt;
}

.img-logo {
    size: fit-content;
    padding-top: 10pt;
    padding-bottom: 30pt;
}